[Unit]
Description=Keep monipi running even after restart
After=multi-user.target

[Service]
Type=simple
RemainAfterExit=no
WorkingDirectory=/home/ash/monipi_project
ExecStart=/home/ash/monipi_project/.venv/bin/python3 -m monipi
Restart=always

[Install]
WantedBy=multi-user.target